html, 
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#background {
	background-color: #000;
    background-image: url(../images/ik.jpg);
    background-position: center;
    background-size:cover;
    display: table;
    height: 100%;
    width: 100%;
}

#loginContainer * {
	color: #E5E7E9;
	font-family: Antique Olive;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer {
	width: 100%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
    margin-top: 10%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

#inputContainer {
    width: 350px;
    padding: 10px;
    float: left;
    border-right: 1px solid #000000;
}

#inputContainer h2 {
	text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
	display: block;
    background-color:black;
    border: 0;
    border-bottom: 3px solid #000000;
    height: 27px;
    line-height: 27px;
    width: 100%;
    opacity: 0.8;
}
#inputContainer input[type="text"]:focus,
#inputContainer input[type="email"]:focus,
#inputContainer input[type="password"]:focus {
	display: block;
    background-color: transperant;
    border: 0;
    border-bottom: 1px solid #060606;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#inputContainer label {
    font-size: 13px;
    margin-top: 15px;
    display: block;
}

#inputContainer button {
	background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}

#inputContainer button:hover {
	cursor: pointer;
}

.hasAccountText span {
	font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText {
	text-align: center;
}

#registerForm,
#loginForm {
	display: none;
}

#loginText {
    padding: 65px;
    display: table-cell;
}

#loginText h1{
    color: #F0F3F4;
    font-family :Algerian;
    font-size: 60px;
    
}

#loginText h2 {
color: E1EE0B;
font-family :Cursive;
    margin: 20px 0;
}

#loginText ul {
	
    padding: 0;
}

#loginText li {
    font-size: 23px;
color: #CCD1D1;
font-family :Albertus MT;
    list-style-type: none;
    padding: 5px 30px;
    background: url(../images/icons/checkmark.png) no-repeat 0 0;
}

#inputContainer .errorMessage {
    color: lightblue;
    font-size: 12px;
    display: block;
}